/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

#container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F2937;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;

}

.landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  color: #E5E7EB;
  font-size: 18px;
  padding: 100px 0px;
}

#container-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 25px 0px;
}

.cubes {
  display: flex;
  flex: 1 0 auto;
  width: 750px;
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;

}

.action {
  background-color: #3882F6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 7px;
  padding: 5px 25px;
}

img {
  border-radius: 14px;
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

h2 {
  color: #F9FAF8;
  font-size: 24px;
}

h3 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

h4 {
  color: #1F2937;
  font-size: 24px;
}

h5 {
  color: #F9FAF8;
  font-size: 24px;
}